<html>
   <body>
   
      <form action = "http://localhost:5000/email" method = "POST">
         <p>From:<br> <input type = "email" name = "from" ><br></p>
         <p>Password:<br><input type = "password" name = "password" ><br></p>
         <p>To:<br><input type = "email" name = "to" ><br></p>
         <p>Subject:<br> <input type ="text" name = "subject" ><br></p>
         <p>Body:<br><textarea name="body" cols="50" rows="10"></textarea><br></p>
         <p><br><input type="submit" value="Submit"><br></p>
         <p><br><input type="reset"  value="Reset"/></p>
      </form>
      
   </body>
</html>
